@import url("https://fonts.googleapis.com/css2?family=Montserrated&display=swap");
html{
  font-size: 60%;
  box-sizing:border-box;
}

body, #root{
  height: 100vh;
margin: 0;

}
.grid-container{
  display: grid;
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  grid-template-areas: "header"
  "main"
  "footer";
  height: 100%;
}
header{
  grid-area:header;
  background-color: blue;
  color: white;
  align-items: center;
  display: flex; 
  padding: 1rem;
}
main{
  grid-area:main;
  
}
body, input, select, textarea,button{
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
}
a:hover{
  color: gold;
}
a{
  text-decoration: none;
}
footer{
  grid-area: footer;
  background-color: blue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
header a{
  color: white;
  text-align: none;
  text-decoration: none;
}
.content{
  display: flex;
 
  

}
.main{
  flex:3 60rem;

}
.sidebar{
  flex: 1 20rem
}

/* products */
